*{

    text-align: center;
}
input{
    width:15em;
}
button{
    width:10em;
}
button:hover{
    cursor: pointer;
    background-color: aqua;
}
h1{
    text-align: center;
    color: red;
    text-decoration: underline;
    margin-bottom: 2%;
}
ul {
    text-align: center;
    list-style: inside;
  }
